body {
    margin: 0px;
    padding: 0px;
    background-color: #E5E5E5;
}

.header {
    display: flex;
}

.header .logo {
    height: 50px;
    width: 150px;
    background-color: #373B54;
    color: #FFF;
    font-family: 'Bebas Neue';
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header .logo img {
    width: 34px;
    height: 23px;
}

.header .menu {
    background-color: #FFF;
    flex-grow: 1;
    flex-direction: row;
    height: 50px;
    flex-wrap: nowrap;
}

.header .menu .toggle-nav {
    border-right: 1px solid #C4C4C4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
}

.header .menu .toggle-nav .toggle-nav-cont {
    height: 25px;
    width: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* TODO */
    align-items: center;
}

.header .menu .toggle-nav .toggle-nav-cont span {
    background-color: #C4C4C4;
    height: 1px;
}

.header .menu .toggle-nav .toggle-nav-cont span:nth-child(odd) {
    width: 100%;
}

.header .menu .toggle-nav .toggle-nav-cont span:nth-child(even) {
    width: 50%;
    justify-self: flex-start; /* TODO */
}

.header .menu .search {
    background-color: red;
    height: 50px;
    width: 50px;
}

.header .menu .message {
    background-color: aqua;
    height: 50px;
    width: 50px;
}
